@font-face {
	font-family: 'Stardom';
	src: url('fonts/Stardom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html,
body {
	height: 100%;
	background: url(../img/Body.png);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	clear: both;
	content: '';
	display: table;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
ul li:last-child {
	margin-bottom: 0;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
button,
label {
	cursor: pointer;
}
input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type='radio'],
input[type='checkbox'] {
	display: none;
}
input::placeholder {
	color: inherit;
}
button {
	cursor: pointer;
}
input,
textarea {
	display: block;
	resize: none;
}
body {
	font-size: 17px;
	line-height: 19px;
	color: #fff;
	width: 100%;
	font-family: 'Montserrat', arial, sans-serif;
}
.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn {
	display: none;
}
section {
	padding: 100px 0;
}
.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.color {
	color: #be963f;
}
.dib {
	display: inline-block;
}
.hover {
	transition: 0.3s;
}
.hover:hover {
	color: #be963f;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* header */
header {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	padding: 50px 200px;
}
.head_search_logo_btn {
	padding: 20px 0;
}

/* logo */
.head_logo {
	margin: 20px 0;
}
h1 {
	font-family: 'Stardom', serif;
	font-weight: 700;
	font-size: 36px;
}
.dot {
	color: #41ead4;
}

/* поиск  */
.head_search_menu {
	position: relative;
	margin: 20px -190px 20px 0;
}
form {
	position: absolute;
	width: 300px;
	height: 24px;
}
.search {
	padding: 0 42px 0 15px;
	border: none;
	outline: none;
	background: transparent;
	transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	color: #fff;
	position: absolute;
	cursor: pointer;
	background: url(../img/icons/search.svg) right 1px no-repeat;
	width: 24px;
	height: 24px;
}
.search:focus {
	width: 300px;
	z-index: 1;
	border-bottom: 2px solid #f9f0da;
}

/* кнопка MENU */
.btn {
	position: relative;
	background: #00c9e0;
	border-radius: 30px;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	height: 62px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 167px;
	padding: 14px 0;
	transition: 0.3s;
}
.btn:hover {
	box-shadow: 0px 6px 5px 2px #0a97e8;
}
.link {
	transition: 0.3s;
}
.link:hover {
	box-shadow: 0px 6px 5px 2px #17a3ee;
}

/* Блок-1 main */
.Home_main {
	background: url(../img/menu.jpg) center no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.Home_main::before {
	content: '';
	position: absolute;
	bottom: -39px;
	left: 0;
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	background: linear-gradient(
		180deg,
		rgba(1, 22, 39, 0) 0%,
		#011627 76.64%,
		#011627 100%
	);
}

/* Text main */
.home_main_tit {
	justify-content: center;
	text-align: center;
	width: 600px;
	height: 200px;
	margin: 155px 310px 170px;
}
.main_tit {
	font-family: 'Stardom';
	font-weight: 700;
	font-size: 120px;
	text-align: center;
	padding-bottom: 60px;
}
.main_txt {
	padding: 20px 0;
}
.main_txt_in {
	font-size: 14px;
}

/* Ссылки main */
.main_link {
	margin: 0 78px;
}
.main_link_txt {
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.link_line {
	width: 2px;
	height: 80px;
	background: #09f4f4;
}
.link_txt {
	transform: rotate(270deg);
	display: inline-block;
}
.link_img {
	padding: 10px 25px;
}

/* Блок-2 menu */
.menu {
	position: relative;
	background: url(../img/LIGHTS_body.svg) center no-repeat;
	background-size: cover;
}

/* Заголовок */
.menu_info {
	width: 861px;
	margin: 0 150px;
}
.menu_tit_info {
	padding-top: 5px;
	font-family: 'Stardom';
	font-size: 40px;
	font-weight: 700;
}
.menu_txt_info {
	width: 450px;
}

/* Меню информация */
.main_menu_info {
	position: relative;
	width: 900px;
	margin: 100px 200px;
}

.main_menu {
	padding: 10px 0;
	position: relative;
}

.main_menu a {
	color: #ffffff90;
	text-decoration: none;
	font-size: 16px;
	position: relative;
	transition: color 0.3s ease-in-out;
}

.main_menu a.active {
	color: #41ead4;
}

.main_menu a:hover {
	color: #41ead4;
}

.indicator {
	position: absolute;
	bottom: 0;
	height: 3px;
	background: #41ead4;
	transition: all 0.3s ease-in-out;
	width: 120px;
	left: 0;
}

/* card */
.slide-text {
	position: relative;
	margin: 243px 120px;
}
.productc-card {
	height: 607px;
	width: 486px;
	margin: 5px 150px;
	position: absolute;
}
.dots {
	background: url(../img/icons/Dots.svg) center no-repeat;
	background-size: cover;
	width: 230px;
	height: 230px;
	margin: 436px 95px;
	position: absolute;
}

.Adventure_text {
	width: 485px;
	height: 300px;
	margin: 150px 0;
}
.Adventure_tit {
	font-size: 65px;
	font-family: 'Stardom';
	padding-bottom: 30px;
}
.Chill_txt {
	font-size: 15px;
	font-weight: 500;
	padding: 25px 0;
}
.Adventure_txt {
	font-size: 15px;
}

.menu_link_img {
	width: 154px;
	height: 85px;
	margin: 100px 1100px 0;
	padding: 25px;
}
.menu_link_txt {
	margin: 5px 0;
}
.menu_img {
	bottom: 0;
}
.indicator_link {
	width: 154px;
	height: 25px;
	right: 0;
	border-bottom: 2px solid #41ead4;
	border-right: 2px solid #41ead4;
}
/* .Information {
	background: url(../img/about.png) center no-repeat;
	background-size: cover;
} */
.info_text {
	width: 321px;
	height: 371px;
	font-size: 18px;
}
.About_tit {
	font-size: 43px;
	font-family: 'Stardom';
	padding: 20px 0;
}
.info_txt {
	font-weight: 600;
	padding: 10px 0;
}
.info_tit {
	padding: 10px 0;
}
.About_info_img {
	width: 790px;
	height: 790px;
}
.info_img {
	width: 395px;
	height: 395px;
}
